services:
  aiostreams:
    # Use the official AIOStreams image
    image: ghcr.io/viren070/aiostreams:latest
    container_name: aiostreams
    
    # Ensure the container restarts automatically unless manually stopped
    restart: unless-stopped
    
    # Note: Using ports > 1024 is recommended for rootless Podman
    ports:
      - "3000:3000" # Map host port 3000 to container port 3000
    
    env_file:
      - .env
    
    #environment:
      
    volumes:
      # Relabeling (:Z) is crucial for Podman to handle SELinux/mount permissions correctly
      - ./data:/app/data:Z
      
    # Resource constraints to keep the Pi 5 stable
    deploy:
      resources:
        limits:
          memory: 512M
    #labels:
    #  - "traefik.enable=true"
    #  - "traefik.http.routers.aiostreams.rule=Host(`aiostreams.example.com`)"
    #  - "traefik.http.routers.aiostreams.entrypoints=websecure"
    #  - "traefik.http.routers.aiostreams.tls.certresolver=letsencrypt"


  #traefik:
  #  image: traefik:v3
  #  container_name: traefik
  #  restart: unless-stopped
  #  environment:
  #    - TZ=Etc/UTC # change this if needed
  #  ports:
  #    - 443:443
  #  command:
  #    - '--ping=true'
  #    - '--api=true'
  #    - '--api.dashboard=false'
  #    - '--api.insecure=false'
  #    - '--global.sendAnonymousUsage=false'
  #    - '--global.checkNewVersion=false'
  #    - '--log=true'
  #    - '--log.level=DEBUG'
  #    - "--providers.docker=true"
  #    - "--providers.docker.exposedbydefault=false"
  #    - "--entryPoints.websecure.address=:443"
  #    - "--certificatesresolvers.letsencrypt.acme.tlschallenge=true"
  #    - "--certificatesresolvers.letsencrypt.acme.email=youremail@example.com"
  #    - "--certificatesresolvers.letsencrypt.acme.storage=/config/acme.json"
  #  volumes:
  #    - "/var/run/docker.sock:/var/run/docker.sock"
  #    - "./traefik:/config"
  #  healthcheck:
  #    test: ["CMD", "traefik", "healthcheck", "--ping"]
  #    interval: 10s
  #    timeout: 5s
  #    retries: 3
  #    
  #tunnel:
  #  image: cloudflare/cloudflared:latest
  #  container_name: cloudflared-tunnel
  #  restart: unless-stopped
  #  command: tunnel --no-autoupdate run --token <IL_TUO_TOKEN_QUI>